doctype html
html
  head
    meta(charset='utf-8')
    title Find Cool Movies
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    .container
      h1='FAVORITE MOVIES'
        if favorites
            each val in favorites
              a(href=`/movie/${val.imdbID}`)
                h2=val.Title
              h3='Year: ' + val.Year
              img(src=val.Poster)
              hr
        if error
          p=error