doctype html
html
  head
    meta(charset='utf-8')
    title Find Cool Movies
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    .container
      fieldset
        form(action='/', method='post')
          input.search(name='keyword', type='text', placeholder='Search by keyword...', required='')
          input.search-button(type='submit', value='Find Movies')
        if movies
          each val in movies
            form(action=`/favorites`, method="post")
              a(href=`/movie/${val.imdbID}`)
                h2=val.Title
              input(name='movie_id', type='hidden', value=val.imdbID)
              img(src=val.Poster)
              input.favorites(type='submit', value='Add to Favorites')
              hr
        if error
          p=error