doctype html
html
  head
    meta(charset='utf-8')
    title Find Cool Movies
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    .container
        a(href='/') < Back to Movie Search
        h1=movie.Title
        img(src=movie.Poster)
        h3=movie.Plot
        h4='Year: ' + movie.Year
        h4='Rated: ' + movie.Rated
        h4='Actors: ' + movie.Actors
        h4='Genre(s): ' + movie.Genre
        if error
            p=error